<footer class="footer">
  <small>
    <a href="/">Sample App</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "about", '#' %></li>
      <li><%= link_to "contact", '#' %></li>
      <li><%= link_to "news", '#' %></li>
    </ul>
  </nav>
</footer>
